__pycache__/
multi/
first_half_sb/
salt_bridges_vmd/
side_chain_centroid.py
side_chain.py
minimum.py
centroid.py
centroid_traj.py
__init__.py
./ipynb_checkpoints/
*.ipynb
aa_map.csv
all_sb.csv
destable.csv
filters.py
ideas_for_software
skempi/
stable.csv
templete.tcl
test2.py
vmd_sb/
reduced_results.csv
total_results.csv
all_distances.png
